<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- OWNYOURINFO: MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

	<bean id="ownyourinfo-prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="prototypeGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapGraph">
						<value>
							$public$do/$get/$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;
							$public$do/$get/($msg$encrypt$keypair/$is+/{})
							$public$do/$get/$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;
							$public$do/$get/($msg$sig$keypair/$is+/{})
							$public$do/$get/&lt;$https&gt;&lt;$connect&gt;&lt;$xdi&gt;&lt;$uri&gt;
						</value>
					</property>
					<property name="bootstrapMessageEnvelope">
						<value>
							$anon[$msg]!1$do/$do$keypair/($msg$encrypt$keypair/$is+/$rsa$2048)
							$anon[$msg]!1$do/$do$keypair/($msg$sig$keypair/$is+/$rsa$2048)
						</value>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.GraphSecretTokenAuthenticator">
							<property name="globalSalt" value="8b46d9b1-efff-4f7b-8cc2-2d41c8ac8d32" />
							<property name="secretTokenGraph" ref="ownyourinfo-registryGraph" />
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
				<ref bean="facebookContributor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<ref bean="facebookContributor" />
				<bean id="generateKeyContributor" class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

	<!-- OWNYOURINFO: MESSAGING TARGET FACTORY at /ownyourinfo-users/* -->

	<bean name="/ownyourinfo-users/*" class="xdi2.server.factory.impl.RegistryGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="ownyourinfo-prototypeMessagingTarget" />
		<property name="registryGraph" ref="ownyourinfo-registryGraph" />
	</bean>

	<!-- OWNYOURINFO: REGISTRY MESSAGING TARGET -->

	<bean id="ownyourinfo-registryGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph">
		<constructor-arg><value>OWNYOURINFO-REGISTRY</value></constructor-arg>
	</bean>

	<bean name="/ownyourinfo-registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="ownyourinfo-registryGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="[@]!:uuid:f34559e4-6b2b-d962-f345-59e46b2bd962" />
					<property name="bootstrapOwnerSynonyms">
						<util:list />
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
							<property name="globalSalt" value="8b46d9b1-efff-4f7b-8cc2-2d41c8ac8d32" />
							<property name="localSaltAndDigestSecretTokens">
								<util:map>
									<entry key="[@]!:uuid:f34559e4-6b2b-d962-f345-59e46b2bd962" value="xdi2-digest:fb77991d-9fa2-4b44-8314-13fe6ac126b1:d7f3e67a8b5b36892df7414b382d706c99994f95b041a81b5c1bde70cffe67a781e6ac5788e7a4367509f67bcd80551c93cf1573d98d9eb02a620801e1513511" />
								</util:map>
							</property>
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean id="generateDigestSecretTokenContributor" class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="8b46d9b1-efff-4f7b-8cc2-2d41c8ac8d32" />
				</bean>
			</util:list>
		</property>
	</bean>

</beans>
