<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

   <!-- TESTCSP: MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

   <bean id="testcsp-prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
      <property name="graph" ref="prototypeGraph" />
      <property name="interceptors">
         <util:list>
            <bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
               <property name="bootstrapRootLinkContract" value="true" />
               <property name="bootstrapPublicLinkContract" value="true" />
               <property name="bootstrapGraph">
                  <value>
                     {$self}$to$anon$from$public$do/$get/{$self}$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;
                     {$self}$to$anon$from$public$do/$get/({$self}$msg$encrypt$keypair/$is+/{})
                     {$self}$to$anon$from$public$do/$get/{$self}$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;
                     {$self}$to$anon$from$public$do/$get/({$self}$msg$sig$keypair/$is+/{})
                  </value>
               </property>
               <property name="bootstrapMessageEnvelope">
                  <value>
                     $anon[$msg]!1$do/$do$keypair/({$self}$msg$encrypt$keypair/$is+/$rsa$2048)
                     $anon[$msg]!1$do/$do$keypair/({$self}$msg$sig$keypair/$is+/$rsa$2048)
                  </value>
               </property>
            </bean>
            <bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
            <bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
            <bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
               <property name="secretTokenAuthenticator">
                  <bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.GraphSecretTokenAuthenticator">
                     <property name="globalSalt" value="aea0c2b1-56c6-4443-913c-a3c6ecfe6c99" />
                     <property name="secretTokenGraph" ref="testcsp-registryGraph" />
                  </bean>
               </property>
            </bean>
            <bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
            <ref bean="facebookContributor" />
         </util:list>
      </property>
      <property name="contributors">
         <util:list>
            <ref bean="facebookContributor" />
            <bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
         </util:list>
      </property>
         </bean>

   <!-- TESTCSP: MESSAGING TARGET FACTORY at /testcsp-users/* -->

   <bean name="/testcsp-users/*" class="xdi2.transport.impl.http.factory.impl.RegistryGraphMessagingTargetFactory">
      <property name="prototypeMessagingTarget" ref="testcsp-prototypeMessagingTarget" />
      <property name="registryGraph" ref="testcsp-registryGraph" />
   </bean>

   <!-- TESTCSP: REGISTRY MESSAGING TARGET -->

   <bean id="testcsp-registryGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph">
      <constructor-arg><value>TESTCSP-REGISTRY</value></constructor-arg>
   </bean>

   <bean name="/testcsp-registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
      <property name="graph" ref="testcsp-registryGraph" />
      <property name="interceptors">
         <util:list>
            <bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
               <property name="bootstrapOwner" value="[@]!:uuid:20e3d77c-5a0e-44d5-b949-85153fbb6577" />
               <property name="bootstrapOwnerSynonyms">
                  <util:list>
                     <value>@testcsp</value>
                  </util:list>
               </property>
               <property name="bootstrapRootLinkContract" value="true" />
               <property name="bootstrapPublicLinkContract" value="true" />
               <property name="bootstrapGraph">
                  <value>
                     {$self}$to$anon$from$public$do/$get/{$self}$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;
                     {$self}$to$anon$from$public$do/$get/({$self}$msg$encrypt$keypair/$is+/{})
                     {$self}$to$anon$from$public$do/$get/{$self}$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;
                     {$self}$to$anon$from$public$do/$get/({$self}$msg$sig$keypair/$is+/{})
                  </value>
               </property>
               <property name="bootstrapMessageEnvelope">
                  <value>
                     $anon[$msg]!1$do/$do$keypair/({$self}$msg$encrypt$keypair/$is+/$rsa$2048)
                     $anon[$msg]!1$do/$do$keypair/({$self}$msg$sig$keypair/$is+/$rsa$2048)
                  </value>
               </property>
            </bean>
            <bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
            <bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
            <bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
               <property name="secretTokenAuthenticator">
                  <bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
                     <property name="globalSalt" value="aea0c2b1-56c6-4443-913c-a3c6ecfe6c99" />
                     <property name="localSaltAndDigestSecretTokens">
                        <util:map>
                           <entry key="[@]!:uuid:20e3d77c-5a0e-44d5-b949-85153fbb6577" value="xdi2-digest:095f6c39-b3d3-492e-a37f-9a516ff1cdc3:91f93d004f2b28f2b4651f5a01ee8adf4ddbe08ce96623ce780eced32faea0a16bc9b6f509f43b0845444921934be18cf50a8d17f99c6e516ff01b91c2d4d677" />
                        </util:map>
                     </property>
                  </bean>
               </property>
            </bean>
            <bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
         </util:list>
      </property>
      <property name="contributors">
         <util:list>
            <bean class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
               <property name="globalSalt" value="aea0c2b1-56c6-4443-913c-a3c6ecfe6c99" />
            </bean>
            <bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
         </util:list>
      </property>
   </bean>

</beans>
