<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- FULLXRI: MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

	<bean id="fullxri-prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="prototypeGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapMessageEnvelope">
						<value>
							$anon[$msg]!1$do/$do$keypair/($msg$encrypt$keypair/$is+/$rsa$2048)
							$anon[$msg]!1$do/$do$keypair/($msg$sig$keypair/$is+/$rsa$2048)
						</value>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.GraphSecretTokenAuthenticator">
							<property name="globalSalt" value="0192af5a-1409-472b-8e10-9454fd0c0102" />
							<property name="secretTokenGraph" ref="fullxri-registryGraph" />
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
				<ref bean="facebookContributor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<ref bean="facebookContributor" />
				<bean id="generateKeyContributor" class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

	<!-- FULLXRI: MESSAGING TARGET FACTORY at /fullxri-users/* -->

	<bean name="/fullxri-users/*" class="xdi2.server.factory.impl.RegistryGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="fullxri-prototypeMessagingTarget" />
		<property name="registryGraph" ref="fullxri-registryGraph" />
	</bean>

	<!-- FULLXRI: REGISTRY MESSAGING TARGET -->

	<bean id="fullxri-registryGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph">
		<constructor-arg><value>FULLXRI-REGISTRY</value></constructor-arg>
	</bean>

	<bean name="/fullxri-registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="fullxri-registryGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="[@]!:uuid:026e5985-6045-fced-026e-59856045fced" />
					<property name="bootstrapOwnerSynonyms">
						<util:list />
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
							<property name="globalSalt" value="0192af5a-1409-472b-8e10-9454fd0c0102" />
							<property name="localSaltAndDigestSecretTokens">
								<util:map>
									<entry key="[@]!:uuid:026e5985-6045-fced-026e-59856045fced" value="xdi2-digest:cd191f2c-3bd1-408a-adc8-8386df6cf61d:fa6b3e04192b7fbb632aae8a93f8d98566224210fecf2ea075c02931086c9ee25f79fa68bd7707b91b0092fdfda12dd56c929b51966d8011adad4b772c8cb2ae" />
								</util:map>
							</property>
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean id="generateDigestSecretTokenContributor" class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="0192af5a-1409-472b-8e10-9454fd0c0102" />
				</bean>
			</util:list>
		</property>
	</bean>

</beans>
