<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

	<bean id="prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="prototypeGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapGraph">
						<value>
							{$self}/$public/($do/$get/({$self}$msg$encrypt$keypair/$is#/{}))
							{$self}/$public/($do/$get/({$self}$msg$sig$keypair/$is#/{}))
							{$self}/$public/($do/$get/{$self}$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;)
							{$self}/$public/($do/$get/{$self}$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;)
						</value>
					</property>
					<property name="bootstrapMessageEnvelope">
						<value>
							$anon[$msg]!1$do/$do$keypair/({$self}$msg$encrypt$keypair/$is+/$rsa$2048)
							$anon[$msg]!1$do/$do$keypair/({$self}$msg$sig$keypair/$is+/$rsa$2048)
						</value>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.GraphSecretTokenAuthenticator">
							<property name="globalSalt" value="c2293773-3240-4524-8c19-c1f5cbe31b86" />
							<property name="secretTokenGraph" ref="registryGraph" />
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
				
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				
				<bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET FACTORY at /users/* -->

	<bean name="/users/*" class="xdi2.transport.impl.http.factory.impl.RegistryGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
		<property name="registryGraph" ref="registryGraph" />
	</bean>

	<!-- REGISTRY MESSAGING TARGET -->

	<bean id="registryGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph">
		<constructor-arg><value>REGISTRY</value></constructor-arg>
	</bean>

	<bean name="/registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="registryGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="[+]!:uuid:ca51aeb9-e09e-4305-89d7-87a944a1e1fa" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>+respect</value>
						</util:list>
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapGraph">
						<value>
							{$self}$to$anon$from$public$do/$get/{$self}$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;
							{$self}$to$anon$from$public$do/$get/({$self}$msg$encrypt$keypair/$is#/{})
							{$self}$to$anon$from$public$do/$get/{$self}$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;
							{$self}$to$anon$from$public$do/$get/({$self}$msg$sig$keypair/$is#/{})
						</value>
					</property>
					<property name="bootstrapMessageEnvelope">
						<value>
							$anon[$msg]!1$do/$do$keypair/({$self}$msg$encrypt$keypair/$is#/$rsa$2048)
							$anon[$msg]!1$do/$do$keypair/({$self}$msg$sig$keypair/$is#/$rsa$2048)
						</value>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
							<property name="globalSalt" value="c2293773-3240-4524-8c19-c1f5cbe31b86" />
							<property name="localSaltAndDigestSecretTokens">
								<util:map>
									<entry key="[+]!:uuid:ca51aeb9-e09e-4305-89d7-87a944a1e1fa" value="xdi2-digest:39bc0877-5572-4858-b096-a6189fc2a97f:d2bd5ff789bdb8b1617bb8f860d0bb45dcc33b2bad026afb34b315828d5e8073e886996f232916cf6d909980f1cd4f850c65dc2a109161ed954f3d91e748ee30" />
								</util:map>
							</property>
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="c2293773-3240-4524-8c19-c1f5cbe31b86" />
				</bean>
				<bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

</beans>
